.gradle
/.idea
.navigation/
build
local.properties
google-services.json
service-credentials.json
*.log
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
*.hprof